
<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
    <md-dialog-content>
      <div class="md-dialog-content modalObservaciones">
        <h2>Elige edificio</h2>
        {{mensaje}}
        <md-select ng-model='elemento' aria-label='Lista de edificios' >
          <md-option ng-repeat='obj in lista track by $index' ng-value='obj'>{{obj}}</md-option>
        </md-select>
        <button id='target' class='btn btn-success' ng-click=''>
          Aceptar
        </button>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="answer('useful')">
        FUCK YOU
      </md-button>
    </md-dialog-actions>
</md-dialog>
