<md-dialog aria-label='Pruebas'  ng-cloak>
  <md-dialog-content>
    <!--div class="md-dialog-content container">
      <h2>Elige edificio</h2>
      {{ctrl.mensaje}}
      <md-select ng-model='elemento' aria-label='Lista de edificios' >
        <md-option ng-repeat='obj in ctrl.lista track by $index' ng-value='obj'>{{obj}}</md-option>
      </md-select>
      <button id='target' class='btn btn-success' ng-click=''>
        Aceptar
      </button>
    </div-->
    <!--div class="md-dialog-content modalPruebas">
      <h5 class="CCh5modalFix">A&ntilde;adir una observaci&oacute;n</h5>
      <md-input-container class="col-sm-8 CCModalinp1">
          <label>Interviniente</label>
          <md-select ng-model="parameters.id">
              <md-option ng-repeat='obj in ctrl.lista track by $index' ng-value='obj'>{{obj}}</md-option>
          </md-select>
      </md-input-container>
      <md-input-container class="campoForm masPad offset-s1 col-sm-12 CCModalinpCom">
          <label class="CCnumeroCuentaLabel">Observacion</label>
          <input class="validate" type="text" ng-model="parameters.observacion">
      </md-input-container>
      <div class="ngdialog-buttons mt">
          <button type="button" class="btnAccept cursorPointer pull-right" ng-click="addObs()">A&Ntilde;ADIR OBSERVACI&Oacute;N</button>
      </div>
    </div-->
    <!--div class="ngdialog-buttons mt">
        <button type="button" class="btnAccept cursorPointer pull-right" ng-click="addObs()">A&Ntilde;ADIR OBSERVACI&Oacute;N</button>
    </div-->

    
  </md-dialog-content>
</mg-dialog>
